
h3.center {
    margin-left: 600px;
}
div.container {
    margin-left: 600px;
    height: 170px;
    width: 510px;
    
}
h3.one {
    margin-left: 55px;
}
div.container1 {
    margin-left: 50px;
    height: 170px;
    width: 440px;
}
h3.two{
    margin-left: 1100px;
    margin-top: 55px;
}
div.container2 {
    height: 170px;
    width: 440px;
    margin-left: 1100px; 
}
hr{
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    
}
h3.three{
    margin-top: 50px;
    margin-left: 55px;
}
div.container3 {
    height: 65px;
    width:  1500px;
    margin-left: 55px;
    margin-top: 25px;
    
}
div.container4 {
    height: 75px;
    width:  1500px;
    margin-left: 55px;  
    margin-top: 25px;

}
div.container5 {
    height: 70px;
    width:  1500px;
    margin-left: 55px;
    margin-top: 25px;
}
