img{
    width: 160px;
    height: 147px;
    margin-left: 201px;
    margin-top: 97px;
}
#parent{
    width: 562px;
    height: 818px;
    margin-top: 80px;
    margin-left: 480px;
    background-color: #FAFAFA;
    border: 1px groove;

}
p.one{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
div.item{
    height: 311;
    width: 476;
    font-size: 19px;
    text-align: center;
    margin: auto;
    margin-top: 80px;
    
}
