img{
     width: 237.95px;
    height: 184.57px;
    margin-top: 80px;
    margin-left: 160px;    
   
}
h1 {
     margin-left: 495px;
    margin-top: 40px;

}
div.container {
    width: 562px;
    height: 818px;
    margin-left: 495px;
    margin-top: 50px;
    background-color: #FAFAFA;
    border: 1px groove;
    border-radius: 20px;
    
}
p.two{
    font-size: 19px;
    margin: 50px;
}
p.one{
    font-size: 30px;
    margin: 50px;
    font-weight: 700;
}
p.three{
    margin-left: 430px;
    color: blue;
    font-weight: 500;
}
hr{
    margin: 50px;
}
